@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background:lightgray;
}
form {
width: 100%;
max-width: 500px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete-none{
   visibility: hidden;
}

.delete-visible{
   visibility: inherit;
}

.status{
    width: 25px ;
    height: 25px;
    &.done{
        &:after{
            content:'\2713';
            font-size: 35px;
            color: blueviolet;
            position: absolute;
            top: -7px;
            left: 23px;    
        }
    }
}

.items{
    background: white;
    display: flex;
    font-size: 12px;
    padding: 5px;
    justify-content: flex-end;
}

.delete,.status{
    cursor: pointer;
}